<section class="hero is-white is-fullheight home-bg">
    <div class="hero-body">
      <div class="container">
        <div class="columns  is-vcentered reverse-columns">
          <div data-aos="fade-right" class="column
          is-10-mobile is-offset-1-mobile
          is-10-tablet is-offset-1-tablet
          is-7-desktop is-offset-1-desktop
          is-7-widescreen is-offset-1-widescreen
          is-7-fullhd is-offset-1-fullhd">
            <h1 class="title titled is-1 mb-6 has-text-white ">
              Bienvenidos a<br>Bufete Ramirez Jimenez
            </h1>
            <h2 class="subtitle subtitled has-text-white ">
              En Bufete Ramirez Jimenez, ofrecemos soluciones legales integrales con un
              compromiso absoluto hacia la excelencia, la ética y la justicia. Contamos
              con un equipo de abogados altamente calificados y con amplia experiencia en 
              diversas áreas del derecho, preparados para asesorar y representar a nuestros 
              clientes con dedicación y transparencia.<br><br>
              Desde nuestra fundación, hemos construido relaciones basadas en la confianza, 
              el profesionalismo y los resultados. Nos especializamos en derecho civil,
              corporativo, penal, laboral y administrativo, adaptándonos a las necesidades 
              particulares de cada caso y cliente.<br><br>
              Nuestra misión es proteger sus derechos y brindar estrategias legales claras,
              efectivas y a la medida. En un mundo jurídico en constante cambio, somos su aliado
              firme, comprometido con encontrar siempre la mejor solución.
            </h2>
          </div>
        </div>
      </div>
    </div>
  </section>