<section class="hero is-small body-bg">
    <div class="hero-body">
        <div class="container is-flex is-align-items-center is-justify-content-space-between">
            <div class="is-flex is-align-items-center">
                <div>
                    <h1 class="has-text-centered has-text-white">
                        Ubicación
                    </h1>
                    <h3 class="has-text-left has-text-white">
                        De Ferreteria 3R, 150m al este<br>
                        Cariari, Pococi, Limón, Costa Rica
                    </h3>
                </div>
            </div>

            <div class="is-flex is-align-items-center">
                <div>
                    <h1 class=" has-text-centered has-text-white">
                        Información de Contacto
                    </h1>
                    <h3 class=" has-text-centered has-text-white">
                        📞 Telefono de oficina: +506 2710 1234<br>
                        📱 Telefono celular: +506 8888 8888<br>
                        📧 Correo electrónico: ejemplo&#64;ejemplo.com<br>
                        <embed src="/images/whatsapp.svg" type="image/svg+xml" style="height: 16px; width: 16px; margin-right: 3px; margin-left: 2px;"> Whatsapp: +506 8888 8888
                    </h3>
                </div>
            </div>

            <div class="is-flex is-align-items-center has-text-centered">
                <div class="container">
                    <ul>
                    <li><a routerLink="/home" routerLinkActive="is-active" class="has-text-white">Inicio</a></li>
                    <li><a routerLink="/about" routerLinkActive="is-active" class="has-text-white">Sobre Nosotros</a></li>
                    <li><a routerLink="/services" routerLinkActive="is-active" class="has-text-white">Servicios</a></li>
                    <li><a routerLink="/contact" routerLinkActive="is-active" class="has-text-white">Contacto</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-foot is-flex is-align-items-center is-justify-content-space-between  has-text-centered">
        <div class="container">
            <p class="has-text-white">
                © 2025 Bufete Ramirez Jimenez. Todos los derechos reservados.<br> 🧑‍💻 Design by ByteWorks
            </p>
        </div>
    </div>
</section>